alembic==1.6.2
click==7.1.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.5.1
flake8==3.8.4
greenlet==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
psycopg2-binary==2.9.1
python-dateutil==2.8.1
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.14
Werkzeug==1.0.1
selenium==3.141.0
pytz==2019.3
gunicorn==20.0.4
# Developer tools (TODO: We should separate packages of production and development)
pytest==6.2.5 # test runner
pytest-flask==1.2.0
allure-pytest==2.8.33 # test tagging and reporting
requests==2.25.1 # uploading
coverage==5.4
pytest-mock==3.5.1