{% extends "base.html" %}{% block title %}ReSQ{% endblock %}{% block navbar %}
<div class="sidebar-wrapper">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('routes.home')}}">
				<i class="material-icons">list</i>
				<p>Queue</p>
			</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{{ url_for('routes.analytics')}}">
				<i class="material-icons">insights</i>
				<p>Data Analytics</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('routes.export')}}">
				<i class="material-icons">arrow_circle_down</i>
				<p>Export Data</p>
			</a>
		</li>
		<!-- your sidebar here -->
	</ul>
</div>
{% endblock %} {% block header %} <a class="navbar-brand" href="javascript:;">Study Smarter Analytics</a>{%
endblock %} {% block content %}
<div class="row">
	<div class="col-md-12 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info" data-header-animation="true">
				<div class="card-icon">
					<i class="material-icons">equalizer</i>
				  </div>
				  <h4 class="card-title">Weekly Data</h4>
			</div>
			<div class="card-body">
				<div id="studentsVisitedBarChart" class="ct-chart ct-double-octave"></div>
				<div class="card-actions">
					<div class="float-left" style="padding-left: 15%;">
						<button name="prev" type="button" class="btn btn-info btn-link" id="previousWeek">
							<i class="material-icons" style="font-size: 40px;">arrow_back</i>
						</button>
						<label for="prev">Previous Week</label>
					</div>
					<div class="float-right" style="padding-right: 15%;">
						<label for="prev">Next Week</label>
						<button name="next" type="button" class="btn btn-info btn-link" id="nextWeek">
							<i class="material-icons" style="font-size: 40px;">arrow_forward</i>
						</button>
					</div>
				</div>
				<h4 class="card-title">Students visited per day</h4>
			</div>
			<div class="card-footer">
				<div class="stats"><i class="material-icons">access_time</i> updated 2 days ago</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 ml-auto mr-auto">
		<div class="card">
			<div class="card-body">
				<label for="date"><small><i>Will display data from the week (from Sun-Sat) of chosen date</i></small></label><br>
				<label for="date"><b>Date:</b></label><br>
				<input type="date" name="date" id="date"/><br><br>
				<button id="dateSubmitForAnalytics" name="submit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info">
				<div class="card-icon">
					<i class="material-icons">pie_chart</i>
				  </div>
				  <h4 class="card-title">Percentage per unit for this week</h4>
			</div>
			<div class="card-body">
				<div id="unitsPieChart" class="ct-chart ct-major-tenth"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info">
				<div class="card-icon">
					<i class="material-icons">pie_chart</i>
				  </div>
				  <h4 class="card-title">Percentage per staff type for this week</h4>
			</div>
			<div class="card-body">
				<div id="unitsStaffChart" class="ct-chart ct-major-tenth"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
