{% extends "base.html" %}
{% block navbar_export %}active{% endblock %}
{% block header %} <a class="navbar-brand" href="javascript:;">Export Data</a>{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-10 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info">
				<h4 class="card-title">Export to CSV</h4>
			</div>
			<div class="card-body">
				<div class="export">
					<label><input type="radio" id="dateRange1" name="dateRangeSelector" value="Last Day" checked> Last Day</label>
					<label><input type="radio" id="dateRange2" name="dateRangeSelector" value="Last Week"> Last Week</label>
					<label><input type="radio" id="dateRange3" name="dateRangeSelector" value="Last Month"> Last Month</label>
					<label><input type="radio" id="dateRange4" name="dateRangeSelector" value="Last Year"> Last Year</label>
					<label><input type="radio" id="dateRange5" name="dateRangeSelector" value="All Time"> All Time</label>
					<label><input type="radio" id="dateRange6" name="dateRangeSelector" value="Custom"> Custom</label>
					<div class="date_selector" style="display: none">
						<table>
							<tr>
								<td align="right">Start Date</td>
								<td align="left"><input type="date" name="startDate" id="startDate"></td>
							</tr>
							<tr>
								<td align="right">End Date</td>
								<td align="left"><input type="date" name="endDate" id="endDate"></td>
							</tr>
						</table>
					</div>
				</div>
				<button id="dateSubmit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
