{% extends "base.html" %}{% block title %}ReSQ{% endblock %}
{% block navbar_export %}active{% endblock %}
{% block header %} <a class="navbar-brand" href="javascript:;">Export Data</a>{%
endblock %} {% block content %}
<div class="row">
	<div class="col-md-10 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info">
				<h4 class="card-title">Export to CSV</h4>
			</div>
			<div class="card-body">
				<h5 class="card-title">Start Date</h5>
				<input type="date" name="startDate" id="startDate"/>
				<h5 class="card-title">End Date</h5>
				<input type="date" name="endDate" id="endDate"/>
				<h5 class="card-title">Submit</h5>
				<button id="dateSubmit" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
