{% extends "base.html" %}{% block title %}ReSQ{% endblock %}{% block navbar %}
<div class="sidebar-wrapper">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('routes.home')}}">
				<i class="material-icons">list</i>
				<p>Queue</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('routes.data')}}">
				<i class="material-icons">insights</i>
				<p>Data Analytics</p>
			</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{{ url_for('routes.export')}}">
				<i class="material-icons">arrow_circle_down</i>
				<p>Export Data</p>
			</a>
		</li>
		<!-- your sidebar here -->
	</ul>
</div>
{% endblock %} {% block header %} <a class="navbar-brand" href="javascript:;">Export Data</a>{%
endblock %} {% block content %}
<div class="row">
	<div class="col-md-10 ml-auto mr-auto">
		<div class="card card-chart">
			<div class="card-header card-header-info">
				<h4 class="card-title">Export to CSV</h2>
			</div>
			<div class="card-body">
				<h4 class="card-title">Students visited</h4>
				<p class="card-category">Last semesters activity</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
