{% extends "base.html" %}{% block title %}ReSQ{% endblock %}
{% block navbar_home %}active{% endblock %}
{% block header %}
<a class="navbar-brand" href="javascript:;">STUDYSmarter and Librarian Queues</a>{% endblock %} {% block
content %}
<div class="row">
	<div class="card col-md-10 currentSessions">
		<h4 class="card-header card-header-info">
			Current Sessions<span class="material-icons float-right"> group </span>
		</h4>
		<div class="card-body">
			<table class="table" id="inSession">
				<thead>
					<tr>
						<th>Team</th>
						<th>Name</th>
						<th>Student Number</th>
						<th>Unit Code</th>
						<th class="text-right">Enquiry Type</th>
						<th class="text-right">Session Time</th>
						<th class="text-right">End Session</th>
					</tr>
				</thead>
				<tbody id="inSessionDataTable"></tbody>
			</table>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card-body">
			<button onclick="showAddToQueue()" type="button" class="btn btn-lg btn-round btn-queue">Add to Queue</button>
			<div class="addTeam card">
				<h4 class="card-header card-header-info">STUDYSmarter Team Available</h4>
				<div class="row card-body text-center">
					<span class="material-icons dec" id="studySmarterAvailableDecrement">remove_circle_outline</span>
					<div id="studySmarterAvailableCount">1</div>
					<span class="material-icons inc" id="studySmarterAvailableIncrement">add_circle_outline</span>
				</div>
			</div>
			<div class="addTeam card text-center">
				<h4 class="card-header card-header-info">Librarians Available</h4>
				<div class="row card-body text-center">
					<span class="material-icons dec" id="librariansAvailableDecrement">remove_circle_outline</span>
					<div id="librariansAvailableCount">1</div>
					<span class="material-icons inc" id="librariansAvailableIncrement">add_circle_outline</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row queues">
	<div class="card queue">
		<h4 class="card-header card-header-info" data-color="green">
			STUDYSmarter Queue<span class="material-icons float-right"> lightbulb </span>
		</h4>
		<div class="card-body">
			<table class="table" id="SSQueueTable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Student No.</th>
						<th>Unit Code</th>
						<th class="text-right">Enquiry Type</th>
						<th class="text-right">Wait Time</th>
						<th class="text-right">Actions</th>
					</tr>
				</thead>
				<tbody id="studysmarterDataTable"></tbody>
			</table>
		</div>
	</div>
	<div class="card queue">
		<h4 class="card-header card-header-info">
			Librarian Queue<span class="material-icons float-right"> menu_book </span>
		</h4>
		<div class="card-body">
			<table class="table" id="libQueueTable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Student No.</th>
						<th>Unit Code</th>
						<th class="text-right">Enquiry Type</th>
						<th class="text-right">Wait Time</th>
						<th class="td-actions text-right">Actions</th>
					</tr>
				</thead>
				<tbody id="librarianDataTable"></tbody>
			</table>
		</div>
	</div>
</div>
<div id="addToQueue">
	<div class="card col-md-3 addToQueue-content">
		<h3 class="card-header card-header-info">Add to Queue</h3>
		<div class="card-body">
			<span class="close" onclick="hideAddToQueueForm()">&times;</span>
			<form autocomplete="off" id="addToQueueForm">
				<label for="studentName"><b>Student Name</b></label>
				<input type="text" maxlength="50" id="studentName" class="form-control" required />
				<label for="studentNumber"><b>Student Number</b></label>
				<input type="text" minlength="8" maxlength="8" id="studentNumber" class="form-control" required />
				<label for="unitCode"><b>Unit Code</b></label>
				<input type="text" id="unitCode" minlength="8" maxlength="8" class="form-control" required />
				<div class="form-group-lg">
					<label><b>Team</b></label><br>
					<input type="radio" id="queue" name="queueSelector" value="STUDYSmarter" checked>
					<label for="STUDYSmarter">STUDYSmarter</label><br>
					<input type="radio" id="queue" name="queueSelector" value="Librarian">
					<label for="Librarian">Librarian</label><br>
				</div>
				<div class="form-group-lg">
					<label for="enquiry"><b>Enquiry Type</b></label>
					<input type="text" id="enquiry" list="enquiryEntries" class="form-control" required />
					<datalist id="enquiryEntries">
						<option>Essay</option>
						<option>Grammar</option>
						<option>Lab Report</option>
						<option>Assignment</option>
						<option>Literature Research</option>
						<option>Research Proposal</option>
						<option>Thesis/Paper</option>
						<option>IELTS</option>
						<option>Oral Presentation</option>
						<option>Referencing</option>
						<option>Finding Sources</option>
						<option>Endnote</option>
					</datalist>
				</div>
				<br />
				<input type="submit" value="ADD" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>
{% endblock %}
